body {
  background-color: black;
  transition: 0.5s;
}

h1 {
  color: white;
}

.ball {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  transition: 1s;
  outline: 1px solid black;
}

.ball1 {
  background-color: aquamarine;
}

.ball2 {
  background-color: maroon;
}

.ball3 {
  background-color: fuchsia;
}

.ball4 {
  background-color: lawngreen;
}

.ball5 {
  background-color: mediumslateblue;
}
